.game {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control-panel {
  margin-top: 50px;
  width: 400px;
}

.button {
  border: 3px solid royalblue;
  max-height: 60px;
}